<ion-view view-title="Search">
  <ion-content style="margin-top:-10px;">
    <ul class="progress-indicator" style="width:100%;margin-top:8px;margin-bottom:15px;">
      <li class="completed">
        <span class="bubble"></span>
        <span style="font-family:Exo-Thin;font-size:15px;font-weight:1000;">Capture</span>
      </li>
      <li class="completed">
        <span class="bubble"></span>
        <span style="font-family:Exo-Thin;font-size:15px;font-weight:1000;">Select category</span>
      </li>
      <li>
        <span class="bubble"></span>
        <span style="font-family:Exo-Thin;font-size:15px;font-weight:1000;">Import</span>
      </li>

    </ul>

    <div style="line-height:24px;margin-top: 16%;margin-left:10%;width:80%;padding:15px;font-size:15px;font-family:Exo-Thin;color:#ffffff;text-align:center;" >
      Select the category of clothing you wish to import.
    </div>

    <div ng-click="wbtagstep1.showMens()" style="margin-left:5%;margin-top:18%;width:90%;border-radius:3px;border: 1px solid #ffffff;background:transparent;padding:12px;font-size:18px;font-family:Exo-Medium;color:#ffffff;text-align:center;" >
      MEN
    </div>
    <div ng-click="wbtagstep1.showWomens()" style="margin-left:5%;margin-top:8px;width:90%;border-radius:3px;border: 1px solid #ffffff;background:transparent;padding:12px;font-size:18px;font-family:Exo-Medium;color:#ffffff;text-align:center;" >
      WOMEN
    </div>
  </ion-content>
</ion-view>
